In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Training/textos_griegos.csv')

In [3]:
df.head()

,Autor,Obra,Fragmento,Texto
0,Colluthus,Rape of Helen,1,νύμφαι Τρωιάδες. ποταμοῦ Ξάνθοιο γενέθλη. αἳ π...
1,Xenophon,Memorabilia,1.1.1,πολλάκις ἐθαύμασα τίσι ποτὲ λόγοις Ἀθηναίους ἔ...
2,Xenophon,Memorabilia,1.1.2,πρῶτον μὲν οὖν. ὡς οὐκ ἐνόμιζεν οὓς ἡ πόλις νο...
3,Xenophon,Memorabilia,1.1.3,ὁ δ᾽ οὐδὲν καινότερον εἰσέφερε τῶν ἄλλων. ὅσοι...
4,Xenophon,Memorabilia,1.1.4,ἀλλ᾽ οἱ μὲν πλεῖστοί φασιν ὑπό τε τῶν ὀρνίθων ...

In [4]:
df.describe()

,Autor,Obra,Fragmento,Texto
count,152015,159733,159733,159517
unique,61,294,52807,155680
top,Homer,Histories,1,μάλιστα δ᾽ ἀγανακτῶ. ὦ βουλή. ὅτι περὶ τῶν πρα...
freq,25314,20050,300,33

In [5]:
df.dropna(inplace=True)

In [6]:
def sustituirchars(linea):
    return linea.replace('.',',').replace(',,','.')

df.Texto=df.Texto.apply(lambda x: sustituirchars(x))

In [43]:
df.Autor.value_counts().head(6122)

Homer                                        25314
Euripides                                    17795
Aristophanes                                 13579
Polybius                                     12141
Sophocles                                     9260
Procopius                                     8258
Cassius Dio Cocceianus                        7128
Aeschylus                                     6731
Apollonius Rhodius                            5384
Demosthenes                                   4544
Herodotus                                     4329
Dionysius of Halicarnassus                    4258
Thucydides                                    3577
Pausanias                                     3170
Dio Chrysostom                                2570
Plutarch                                      2329
Xenophon                                      2081
Lysias                                        1884
Eusebius of Caesarea                          1865
Arrian                                        1765
Strabo                                        1579
Athenaeus                                     1328
Plato                                         1163
Aristotle                                      962
Aelian                                         802
Appian                                         656
Aeschines                                      642
Isocrates                                      602
Marcus Aurelius                                560
Longus                                         537
                                             ...
Apollodorus                                    386
Lucian                                         376
Aeneas Tacticus                                375
Julian the Emperor                             369
John, of Damascus (attributed author)          364
Philostratus the Athenian                      348
Theophrastus                                   332
Demetrius of Phaleron (attributed author)      304
Andocides                                      269
Hyperides                                      202
Barnabas                                       194
Hippocrates                                    176
Antiphon                                       155
Lycurgus                                       150
Dinarchus                                      138
Asclepiodotus                                   73
Callimachus                                     61
Clement of Alexandria                           55
Pseudo-Xenophon                                 53
Nonnus of Panopolis                             48
Longinus                                        44
Theocritus                                      30
Quintus Smyrnaeus                               14
Callistratus                                    14
Oppian                                           5
Moschus                                          3
Bion of Phlossa                                  2
Aratus Solensis                                  1
Colluthus                                        1
Tryphiodorus                                     1
Name: Autor, Length: 61, dtype: int64

In [8]:
for i in df.Autor.unique():
    print(i)

Colluthus
Xenophon
Pseudo-Xenophon
Hyperides
Bion of Phlossa
Moschus
Lycurgus
Eusebius of Caesarea
Demosthenes
Homer
Sophocles
Isocrates
Aristophanes
Theophrastus
Julian the Emperor
Herodotus
Strabo
Aratus Solensis
Oppian
Aeschines
Pausanias
Andocides
Antiphon
Dinarchus
Tryphiodorus
Arrian
Callimachus
Lysias
Apollonius Rhodius
Thucydides
Philostratus the Athenian
Aristotle
John, of Damascus (attributed author)
Aeschylus
Theocritus
Apollodorus
Plutarch
Euripides
Polybius
Athenaeus
Aelian
Dionysius of Halicarnassus
Procopius
Appian
Hippocrates
Plato
Basil, Saint, Bishop of Caesarea
Aeneas Tacticus
Asclepiodotus
Quintus Smyrnaeus
Clement of Alexandria
Nonnus of Panopolis
Cassius Dio Cocceianus
Longinus
Marcus Aurelius
Longus
Demetrius of Phaleron (attributed author)
Barnabas
Dio Chrysostom
Lucian
Callistratus

In [20]:
for i in df[df['Autor'] == 'Plato'].Obra.unique():
    print(i)

Cratylus
Theaetetus
Sophist
Statesman

In [21]:
for i in df[df['Autor'] == 'Tryphiodorus'].Obra.unique():
    print(i)

Taking of Ilios

In [22]:
for i in df[df['Autor'] == 'Colluthus'].Obra.unique():
    print(i)

Rape of Helen

In [23]:
for i in df[df['Autor'] == 'Aratus Solensis'].Obra.unique():
    print(i)

Phaenomena

In [24]:
for i in df[df['Autor'] == 'Bion of Phlossa'].Obra.unique():
    print(i)

Epitaphius Adonis
Epithalamium Achillis et Deidameiae

In [25]:
for i in df[df['Autor'] == 'Moschus'].Obra.unique():
    print(i)

Eros Drapeta
Europa
Megara

In [26]:
for i in df[df['Autor'] == 'Oppian'].Obra.unique():
    print(i)

Halieutica

In [27]:
for i in df[df['Autor'] == 'Callistratus'].Obra.unique():
    print(i)

Descriptiones

In [28]:
for i in df[df['Autor'] == 'Quintus Smyrnaeus'].Obra.unique():
    print(i)

Fall of Troy

In [29]:
for i in df[df['Autor'] == 'Theocritus'].Obra.unique():
    print(i)

Idylls

In [30]:
for i in df[df['Autor'] == 'Longinus'].Obra.unique():
    print(i)

De Sublimitate

In [31]:
for i in df[df['Autor'] == 'Nonnus of Panopolis'].Obra.unique():
    print(i)

Dionysiaca

In [33]:
for i in df[df['Autor'] == 'Pseudo-Xenophon'].Obra.unique():
    print(i)

Constitution of the Athenians

In [32]:
for i in df[df['Autor'] == 'Clement of Alexandria'].Obra.unique():
    print(i)

Protrepticus
Quis Dis Salvetur
Exhortation to Endurance, or to the Newly Baptized

In [34]:
for i in df[df['Autor'] == 'Callimachus'].Obra.unique():
    print(i)

Epigrams

In [35]:
for i in df[df['Autor'] == 'Asclepiodotus'].Obra.unique():
    print(i)

Tactica

In [37]:
for i in df[df['Autor'] == 'Dinarchus'].Obra.unique():
    print(i)

Against Demosthenes
Against Aristogiton
Against Philocles

In [38]:
for i in df[df['Autor'] == 'Lycurgus'].Obra.unique():
    print(i)

Against Leocrates

In [39]:
for i in df[df['Autor'] == 'Antiphon'].Obra.unique():
    print(i)

Against the Stepmother for Poisoning
First Tetralogy
Second Tetralogy
Third Tetralogy
On the murder of Herodes
On the Choreutes

In [40]:
for i in df[df['Autor'] == 'Hippocrates'].Obra.unique():
    print(i)

De aere aquis et locis
De morbis popularibus
Praeceptiones
De alimento