In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Training/textos_griegos.csv')

In [3]:
df.head()

,Autor,Obra,Fragmento,Texto
0,Colluthus,Rape of Helen,1,νύμφαι Τρωιάδες. ποταμοῦ Ξάνθοιο γενέθλη. αἳ π...
1,Xenophon,Memorabilia,1.1.1,πολλάκις ἐθαύμασα τίσι ποτὲ λόγοις Ἀθηναίους ἔ...
2,Xenophon,Memorabilia,1.1.2,πρῶτον μὲν οὖν. ὡς οὐκ ἐνόμιζεν οὓς ἡ πόλις νο...
3,Xenophon,Memorabilia,1.1.3,ὁ δ᾽ οὐδὲν καινότερον εἰσέφερε τῶν ἄλλων. ὅσοι...
4,Xenophon,Memorabilia,1.1.4,ἀλλ᾽ οἱ μὲν πλεῖστοί φασιν ὑπό τε τῶν ὀρνίθων ...

In [4]:
df.describe()

,Autor,Obra,Fragmento,Texto
count,152015,159733,159733,159517
unique,61,294,52807,155680
top,Homer,Histories,1,Θηραμένης δὲ ὕστερον ἀφικνεῖται ἐκ Λακεδαίμονο...
freq,25314,20050,300,33

In [5]:
df.dropna(inplace=True)

In [6]:
def sustituirchars(linea):
    return linea.replace('.',',').replace(',,','.')

df.Texto=df.Texto.apply(lambda x: sustituirchars(x))

In [29]:
df.Autor.value_counts().tail(60)

Euripides                                    17795
Aristophanes                                 13579
Polybius                                     12141
Sophocles                                     9260
Procopius                                     8258
Cassius Dio Cocceianus                        7128
Aeschylus                                     6731
Apollonius Rhodius                            5384
Demosthenes                                   4544
Herodotus                                     4329
Dionysius of Halicarnassus                    4258
Thucydides                                    3577
Pausanias                                     3170
Dio Chrysostom                                2570
Plutarch                                      2329
Xenophon                                      2081
Lysias                                        1884
Eusebius of Caesarea                          1865
Arrian                                        1765
Strabo                                        1579
Athenaeus                                     1328
Plato                                         1163
Aristotle                                      962
Aelian                                         802
Appian                                         656
Aeschines                                      642
Isocrates                                      602
Marcus Aurelius                                560
Longus                                         537
Basil, Saint, Bishop of Caesarea               463
Apollodorus                                    386
Lucian                                         376
Aeneas Tacticus                                375
Julian the Emperor                             369
John, of Damascus (attributed author)          364
Philostratus the Athenian                      348
Theophrastus                                   332
Demetrius of Phaleron (attributed author)      304
Andocides                                      269
Hyperides                                      202
Barnabas                                       194
Hippocrates                                    176
Antiphon                                       155
Lycurgus                                       150
Dinarchus                                      138
Asclepiodotus                                   73
Callimachus                                     61
Clement of Alexandria                           55
Pseudo-Xenophon                                 53
Nonnus of Panopolis                             48
Longinus                                        44
Theocritus                                      30
Quintus Smyrnaeus                               14
Callistratus                                    14
Oppian                                           5
Moschus                                          3
Bion of Phlossa                                  2
Tryphiodorus                                     1
Colluthus                                        1
Aratus Solensis                                  1
Name: Autor, dtype: int64

In [8]:
for i in df.Autor.unique():
    print(i)

Colluthus
Xenophon
Pseudo-Xenophon
Hyperides
Bion of Phlossa
Moschus
Lycurgus
Eusebius of Caesarea
Demosthenes
Homer
Sophocles
Isocrates
Aristophanes
Theophrastus
Julian the Emperor
Herodotus
Strabo
Aratus Solensis
Oppian
Aeschines
Pausanias
Andocides
Antiphon
Dinarchus
Tryphiodorus
Arrian
Callimachus
Lysias
Apollonius Rhodius
Thucydides
Philostratus the Athenian
Aristotle
John, of Damascus (attributed author)
Aeschylus
Theocritus
Apollodorus
Plutarch
Euripides
Polybius
Athenaeus
Aelian
Dionysius of Halicarnassus
Procopius
Appian
Hippocrates
Plato
Basil, Saint, Bishop of Caesarea
Aeneas Tacticus
Asclepiodotus
Quintus Smyrnaeus
Clement of Alexandria
Nonnus of Panopolis
Cassius Dio Cocceianus
Longinus
Marcus Aurelius
Longus
Demetrius of Phaleron (attributed author)
Barnabas
Dio Chrysostom
Lucian
Callistratus

In [9]:
for i in df[df['Autor'] == 'Plato'].Obra.unique():
    print(i)

Cratylus
Theaetetus
Sophist
Statesman

In [10]:
for i in df[df['Autor'] == 'Tryphiodorus'].Obra.unique():
    print(i)

Taking of Ilios

In [11]:
for i in df[df['Autor'] == 'Colluthus'].Obra.unique():
    print(i)

Rape of Helen

In [12]:
for i in df[df['Autor'] == 'Aratus Solensis'].Obra.unique():
    print(i)

Phaenomena

In [13]:
for i in df[df['Autor'] == 'Bion of Phlossa'].Obra.unique():
    print(i)

Epitaphius Adonis
Epithalamium Achillis et Deidameiae

In [14]:
for i in df[df['Autor'] == 'Moschus'].Obra.unique():
    print(i)

Eros Drapeta
Europa
Megara

In [15]:
for i in df[df['Autor'] == 'Oppian'].Obra.unique():
    print(i)

Halieutica

In [16]:
for i in df[df['Autor'] == 'Callistratus'].Obra.unique():
    print(i)

Descriptiones

In [17]:
for i in df[df['Autor'] == 'Quintus Smyrnaeus'].Obra.unique():
    print(i)

Fall of Troy

In [18]:
for i in df[df['Autor'] == 'Theocritus'].Obra.unique():
    print(i)

Idylls

In [19]:
for i in df[df['Autor'] == 'Longinus'].Obra.unique():
    print(i)

De Sublimitate

In [20]:
for i in df[df['Autor'] == 'Nonnus of Panopolis'].Obra.unique():
    print(i)

Dionysiaca

In [21]:
for i in df[df['Autor'] == 'Pseudo-Xenophon'].Obra.unique():
    print(i)

Constitution of the Athenians

In [22]:
for i in df[df['Autor'] == 'Clement of Alexandria'].Obra.unique():
    print(i)

Protrepticus
Quis Dis Salvetur
Exhortation to Endurance, or to the Newly Baptized

In [23]:
for i in df[df['Autor'] == 'Callimachus'].Obra.unique():
    print(i)

Epigrams

In [24]:
for i in df[df['Autor'] == 'Asclepiodotus'].Obra.unique():
    print(i)

Tactica

In [25]:
for i in df[df['Autor'] == 'Dinarchus'].Obra.unique():
    print(i)

Against Demosthenes
Against Aristogiton
Against Philocles

In [26]:
for i in df[df['Autor'] == 'Lycurgus'].Obra.unique():
    print(i)

Against Leocrates

In [27]:
for i in df[df['Autor'] == 'Antiphon'].Obra.unique():
    print(i)

Against the Stepmother for Poisoning
First Tetralogy
Second Tetralogy
Third Tetralogy
On the murder of Herodes
On the Choreutes

In [28]:
for i in df[df['Autor'] == 'Hippocrates'].Obra.unique():
    print(i)

De aere aquis et locis
De morbis popularibus
Praeceptiones
De alimento

In [31]:
for i in df[df['Autor'] == 'Barnabas'].Obra.unique():
    print(i)

Barnabae Epistula

In [32]:
for i in df[df['Autor'] == 'Hyperides'].Obra.unique():
    print(i)

In Defence of Lycophron
Against Philippides
Against Athenogenes
In Defence of Euxenippus
Against Demosthenes
Funeral Oration

In [33]:
for i in df[df['Autor'] == 'Andocides'].Obra.unique():
    print(i)

On the Mysteries
On his Return
On the Peace
Against Alcibiades

In [35]:
for i in df[df['Autor'] == 'Demetrius of Phaleron (attributed author)'].Obra.unique():
    print(i)

Libro de Elocutione

In [36]:
for i in df[df['Autor'] == 'Theophrastus'].Obra.unique():
    print(i)

Characters

In [38]:
for i in df[df['Autor'] == 'Philostratus the Athenian'].Obra.unique():
    print(i)

Life of Apollonius of Tyana

In [39]:
for i in df[df['Autor'] == 'John, of Damascus (attributed author)'].Obra.unique():
    print(i)

Vita Barlaam et Joasaph

In [41]:
for i in df[df['Autor'] == 'Julian the Emperor'].Obra.unique():
    print(i)

Panegyric in Honor of the Emperor ConstantinusOration I
Hymn to the Mother of the GodsOration V
To the Uneducated CynicsOration VI

In [43]:
for i in df[df['Autor'] == 'Aeneas Tacticus'].Obra.unique():
    print(i)

Poliorcetica

In [44]:
for i in df[df['Autor'] == 'Lucian'].Obra.unique():
    print(i)

Bis accusatus sive tribunalia
Navigium
Hermotimus
De luctu
Hippias
Demonax
Toxaris vel amicitia
Cataplus
Pro lapsu inter salutandum

In [45]:
for i in df[df['Autor'] == 'Apollodorus'].Obra.unique():
    print(i)

Library
Epitome

In [47]:
for i in df[df['Autor'] == 'Basil, Saint, Bishop of Caesarea'].Obra.unique():
    print(i)

De legendis gentilium libris
Epistulae

In [48]:
for i in df[df['Autor'] == 'Longus'].Obra.unique():
    print(i)

Daphnis &amp; Chloe

In [49]:
for i in df[df['Autor'] == 'Marcus Aurelius'].Obra.unique():
    print(i)

M. Antonius Imperator Ad Se Ipsum

In [50]:
for i in df[df['Autor'] == 'Isocrates'].Obra.unique():
    print(i)

To Demonicus
To Nicocles
Nicocles or the Cyprians
Panegyricus
To Philip
Archidamus
Areopagiticus
On the Peace
Evagoras
Helen
Busiris
Panathenaicus
Against the Sophists
Plataicus
Antidosis
On the team of horses
Trapeziticus
Against Callimachus
Aegineticus
Against Lochites
Against Euthynus

In [51]:
for i in df[df['Autor'] == 'Aeschines'].Obra.unique():
    print(i)

Against Timarchus
On the Embassy
Against Ctesiphon

In [52]:
for i in df[df['Autor'] == 'Appian'].Obra.unique():
    print(i)

Civil Wars

In [53]:
for i in df[df['Autor'] == 'Aelian'].Obra.unique():
    print(i)

De Natura Animalium

In [54]:
for i in df[df['Autor'] == 'Athenaeus'].Obra.unique():
    print(i)

Deipnosophistae

In [55]:
for i in df[df['Autor'] == 'Strabo'].Obra.unique():
    print(i)

Geography

In [56]:
for i in df[df['Autor'] == 'Arrian'].Obra.unique():
    print(i)

Anabasis
Periplus Ponti Euxini
Tactica

In [57]:
for i in df[df['Autor'] == 'Eusebius of Caesarea'].Obra.unique():
    print(i)

Historia ecclesiastica