In [11]:
import pandas as pd

In [19]:
with open('./Training/append.csv', 'r', encoding ='utf-8') as f:
    text = f.read()
    lines = text.split('\n')
    print(lines[602])

Aristotle,De iuventute et senectute, De vita et morte,2,Τριῶν δὲ μερῶν ὄντων εἰς ἃ διαιρεῖται πάντα τὰ τέλεια τῶν ζῴων. ἑνὸς μὲν ᾗ δέχεται τὴν τροφήν. ἑνὸς δ’ ᾗ τὸ περίττωμα προΐεται. τρίτου δὲ τοῦ μέσου τούτων. τοῦτο ἐν μὲν τοῖς μεγίστοις τῶν ζῴων καλεῖται στῆθος. ἐν δὲ τοῖς ἄλλοις τὸ ἀνάλογον. διήρθρωται δὲ μᾶλλον ἑτέροις ἑτέρων.. Ὅσα δ’ αὐτῶν ἐστὶ πορευτικά. πρόσκειται καὶ μόρια τὰ πρὸς ταύτην τὴν ὑπηρεσίαν. οἷς τὸ πᾶν οἴσουσι κύτος. σκέλη τε καὶ πόδες καὶ τὰ τούτοις ἔχοντα τὴν αὐτὴν δύναμιν.. Ἀλλ’ ἥ γε τῆς θρεπτικῆς ἀρχὴ ψυχῆς ἐν τῷ μέσῳ τῶν τριῶν μορίων καὶ κατὰ τὴν αἴσθησιν οὖσα φαίνεται καὶ κατὰ τὸν λόγον· πολλὰ γὰρ τῶν ζῴων ἀφαιρουμένου ἑκατέρου τῶν μορίων. τῆς τε καλουμένης κεφαλῆς καὶ τοῦ δεκτικοῦ τῆς τροφῆς. ζῇ μεθ’ οὗπερ ἂν ᾖ τὸ μέσον.. Δῆλον δ’ ἐπὶ τῶν ἐντόμων. οἷον σφηκῶν τε καὶ μελιττῶν. τοῦτο συμβαῖνον· καὶ τῶν μὴ ἐντόμων δὲ πολλὰ διαιρούμενα δύναται ζῆν διὰ τὸ θρεπτικόν.. Τὸ δὲ τοιοῦτον μόριον ἐνεργείᾳ μὲν ἔχει ἕν. δυνάμει δὲ πλείω· τὸν αὐτὸν γὰρ συνέστηκε τοῖς φυτοῖς τρόπον· καὶ γὰρ τὰ φυτὰ διαιρούμενα ζῇ χωρίς. καὶ γίνεται πολλὰ ἀπὸ μιᾶς ἀρχῆς δένδρα.. Δι’ ἢν δ’ αἰτίαν τὰ μὲν οὐ δύναται διαιρούμενα ζῆν. τὰ δ’ ἀποφυτεύεται τῶν φυτῶν. ἕτερος ἔσται λόγος.. Ἀλλ’ ὁμοίως ἔχει κατά γε τοῦτο τά τε φυτὰ καὶ τὸ τῶν ἐντόμων γένος.. Ἀνάγκη δὲ καὶ τὴν θρεπτικὴν ψυχὴν ἐνεργείᾳ μὲν ἐν τοῖς ἔχουσιν εἶναι μίαν. δυνάμει δὲ πλείους. Ὁμοίως δὲ καὶ τὴν αἰσθητικὴν ἀρχήν· φαίνεται γὰρ ἔχοντα αἴσθησιν τὰ διαιρούμενα αὐτῶν.. Ἀλλὰ πρὸς τὸ σώζεσθαι τὴν φύσιν. τὰ μὲν φυτὰ δύναται. ταῦτα δ’ οὐ δύναται διὰ τὸ μὴ ἔχειν ὄργανα πρὸς σωτηρίαν. ἐνδεᾶ τ’ εἶναι τὰ μὲν τοῦ ληψομένου τὰ δὲ τοῦ δεξομένου τὴν τροφήν. τὰ δ’ ἄλλων τε καὶ τούτων ἀμφοτέρων.. Ἐοίκασι γὰρ τὰ τοιαῦτα τῶν ζῴων πολλοῖς ζῴοις συμπεφυκόσιν· τὰ δ’ ἄριστα συνεστηκότα τοῦτ’ οὐ πάσχει τῶν ζῴων διὰ τὸ εἶναι τὴν φύσιν αὐτῶν ὡς ἐνδέχεται μάλιστα μίαν.. Διὸ καὶ μικρὰν αἴσθησιν ἔνια ποιεῖ διαιρούμενα τῶν μορίων. ὅτι ἔχει τι ψυχικὸν πάθος· χωριζομένων γὰρ τῶν σπλάγχνων ποιεῖται κίνησιν. οἷον καὶ αἱ χελῶναι τῆς καρδίας ἀφῃρημένης..

In [20]:
df = pd.read_csv('./Training/textos_griegos.csv')

In [21]:
df.head()

,Autor,Obra,Fragmento,Texto
0,Colluthus,Rape of Helen,1,νύμφαι Τρωιάδες. ποταμοῦ Ξάνθοιο γενέθλη. αἳ π...
1,Xenophon,Memorabilia,1.1.1,πολλάκις ἐθαύμασα τίσι ποτὲ λόγοις Ἀθηναίους ἔ...
2,Xenophon,Memorabilia,1.1.2,πρῶτον μὲν οὖν. ὡς οὐκ ἐνόμιζεν οὓς ἡ πόλις νο...
3,Xenophon,Memorabilia,1.1.3,ὁ δ᾽ οὐδὲν καινότερον εἰσέφερε τῶν ἄλλων. ὅσοι...
4,Xenophon,Memorabilia,1.1.4,ἀλλ᾽ οἱ μὲν πλεῖστοί φασιν ὑπό τε τῶν ὀρνίθων ...

In [22]:
df.describe()

,Autor,Obra,Fragmento,Texto
count,164368,172086,172086,171870
unique,62,521,52841,167854
top,Homer,Histories,1,πότερον ὅτι δι᾽ ἐμέ τις εἰς ἀγῶνα πώποτε κατασ...
freq,25314,20050,1275,33

In [23]:
df.dropna(inplace=True)

In [24]:
def sustituirchars(linea):
    return linea.replace('.',',').replace(',,','.')

df.Texto=df.Texto.apply(lambda x: sustituirchars(x))

In [26]:
df.Autor.value_counts().head(60)

Homer                                        25314
Euripides                                    17795
Aristophanes                                 13579
Polybius                                     12141
Sophocles                                     9260
Procopius                                     8258
Cassius Dio Cocceianus                        7128
Aeschylus                                     6731
Apollonius Rhodius                            5384
Demosthenes                                   4544
Herodotus                                     4329
Dionysius of Halicarnassus                    4258
Thucydides                                    3577
Eusebius of Caesarea                          3524
Pausanias                                     3170
Aristotle                                     3041
Hippocrates                                   2951
Theophrastus                                  2670
Dio Chrysostom                                2570
Plutarch                                      2329
Plato                                         2289
Xenophon                                      2081
Lysias                                        1884
Lucian                                        1779
Arrian                                        1765
Strabo                                        1579
Appian                                        1329
Athenaeus                                     1328
Aelian                                         802
Isocrates                                      659
Aeschines                                      642
Marcus Aurelius                                560
Longus                                         537
Basil, Saint, Bishop of Caesarea               463
Apollodorus                                    386
Aeneas Tacticus                                375
Julian the Emperor                             369
John, of Damascus (attributed author)          364
Philostratus the Athenian                      348
Demetrius of Phaleron (attributed author)      304
Andocides                                      269
Clement of Alexandria                          240
Hyperides                                      202
Barnabas                                       194
Antiphon                                       155
Lycurgus                                       150
Dinarchus                                      138
Asclepiodotus                                   73
Callimachus                                     61
Philostratus The Athenian                       58
Pseudo-Xenophon                                 53
Nonnus of Panopolis                             48
Longinus                                        44
Theocritus                                      30
Quintus Smyrnaeus                               14
Callistratus                                    14
Oppian                                           5
Moschus                                          3
Bion of Phlossa                                  2
Tryphiodorus                                     1
Name: Autor, dtype: int64

In [8]:
for i in df.Autor.unique():
    print(i)

Colluthus
Xenophon
Pseudo-Xenophon
Hyperides
Bion of Phlossa
Moschus
Lycurgus
Eusebius of Caesarea
Demosthenes
Homer
Sophocles
Isocrates
Aristophanes
Theophrastus
Julian the Emperor
Herodotus
Strabo
Aratus Solensis
Oppian
Aeschines
Pausanias
Andocides
Antiphon
Dinarchus
Tryphiodorus
Arrian
Callimachus
Lysias
Apollonius Rhodius
Thucydides
Philostratus the Athenian
Aristotle
John, of Damascus (attributed author)
Aeschylus
Theocritus
Apollodorus
Plutarch
Euripides
Polybius
Athenaeus
Aelian
Dionysius of Halicarnassus
Procopius
Appian
Hippocrates
Plato
Basil, Saint, Bishop of Caesarea
Aeneas Tacticus
Asclepiodotus
Quintus Smyrnaeus
Clement of Alexandria
Nonnus of Panopolis
Cassius Dio Cocceianus
Longinus
Marcus Aurelius
Longus
Demetrius of Phaleron (attributed author)
Barnabas
Dio Chrysostom
Lucian
Callistratus

In [27]:
for i in df[df['Autor'] == 'Plato'].Obra.unique():
    print(i)

Cratylus
Theaetetus
Sophist
Statesman
Parmenides
Philebus
Symposium
Phaedrus
Alcibiades 1
Alcibiades 2
Hipparchus
Lovers
Theages
Charmides
Laches
Lysis
Euthydemus
Protagoras
Gorgias
Meno
Hippias Major
Hippias Minor
Ion
Menexenus
Cleitophon
Republic1
Republic2
Republic3
Republic4
Republic5
Republic6
Republic7
Republic8
Republic9
Republic10
Timaeus
Critias
Minos
Laws
Epinomis
Definitiones1
Euthyphro
Apology
Crito
Phaedo

In [28]:
for i in df[df['Autor'] == 'Tryphiodorus'].Obra.unique():
    print(i)

Taking of Ilios

In [29]:
for i in df[df['Autor'] == 'Colluthus'].Obra.unique():
    print(i)

Rape of Helen

In [30]:
for i in df[df['Autor'] == 'Aratus Solensis'].Obra.unique():
    print(i)

Phaenomena

In [31]:
for i in df[df['Autor'] == 'Bion of Phlossa'].Obra.unique():
    print(i)

Epitaphius Adonis
Epithalamium Achillis et Deidameiae

In [32]:
for i in df[df['Autor'] == 'Moschus'].Obra.unique():
    print(i)

Eros Drapeta
Europa
Megara

In [33]:
for i in df[df['Autor'] == 'Oppian'].Obra.unique():
    print(i)

Halieutica

In [34]:
for i in df[df['Autor'] == 'Callistratus'].Obra.unique():
    print(i)

Descriptiones

In [35]:
for i in df[df['Autor'] == 'Quintus Smyrnaeus'].Obra.unique():
    print(i)

Fall of Troy

In [36]:
for i in df[df['Autor'] == 'Theocritus'].Obra.unique():
    print(i)

Idylls

In [37]:
for i in df[df['Autor'] == 'Longinus'].Obra.unique():
    print(i)

De Sublimitate

In [38]:
for i in df[df['Autor'] == 'Nonnus of Panopolis'].Obra.unique():
    print(i)

Dionysiaca

In [39]:
for i in df[df['Autor'] == 'Pseudo-Xenophon'].Obra.unique():
    print(i)

Constitution of the Athenians

In [40]:
for i in df[df['Autor'] == 'Clement of Alexandria'].Obra.unique():
    print(i)

Protrepticus
Quis Dis Salvetur
Exhortation to Endurance, or to the Newly Baptized
Excerpta ex Theodoto
Paedagogus
Stromata Books 7-8
Eclogae propheticae

In [41]:
for i in df[df['Autor'] == 'Callimachus'].Obra.unique():
    print(i)

Epigrams

In [42]:
for i in df[df['Autor'] == 'Asclepiodotus'].Obra.unique():
    print(i)

Tactica

In [43]:
for i in df[df['Autor'] == 'Dinarchus'].Obra.unique():
    print(i)

Against Demosthenes
Against Aristogiton
Against Philocles

In [44]:
for i in df[df['Autor'] == 'Lycurgus'].Obra.unique():
    print(i)

Against Leocrates

In [45]:
for i in df[df['Autor'] == 'Antiphon'].Obra.unique():
    print(i)

Against the Stepmother for Poisoning
First Tetralogy
Second Tetralogy
Third Tetralogy
On the murder of Herodes
On the Choreutes

In [46]:
for i in df[df['Autor'] == 'Hippocrates'].Obra.unique():
    print(i)

De aere aquis et locis
De morbis popularibus
Praeceptiones
De alimento
De prisca medicina
Prognosticon
De diaeta in morbis acutis
De diaeta acutorum (spurium)
Epidemiarum
De capitis vulneribus
De officina medici
De fracturis
De articulis
Vectiarius
Aphorismi
Iusiurandum
Lex
De humoribus
Prorrheticon I
Coa praesagia
De arte
De natura hominis
De salubri diaeta
De flatibus
De liquidorum usu
De morbis I
De genitura
De natura pueri
De affectionibus
De locis in homine
De morbo sacro
De ulceribus
De haemorrhoidibus
De fistulis
De diaeta
De affectionibus interioribus
De natura muliebri
De octimestri partu
De muliebribus
De virginum morbis
De superfoetatione
De exsectione foetus
De anatomia
De dentitione
De glandulis
De carnibus
De corde
De visu
De natura ossium
De medico
De habitu decenti
De crisibus
De diebus criticis
Epistulae. Decretum. Orationes

In [47]:
for i in df[df['Autor'] == 'Barnabas'].Obra.unique():
    print(i)

Barnabae Epistula

In [48]:
for i in df[df['Autor'] == 'Hyperides'].Obra.unique():
    print(i)

In Defence of Lycophron
Against Philippides
Against Athenogenes
In Defence of Euxenippus
Against Demosthenes
Funeral Oration

In [49]:
for i in df[df['Autor'] == 'Andocides'].Obra.unique():
    print(i)

On the Mysteries
On his Return
On the Peace
Against Alcibiades

In [50]:
for i in df[df['Autor'] == 'Demetrius of Phaleron (attributed author)'].Obra.unique():
    print(i)

Libro de Elocutione

In [51]:
for i in df[df['Autor'] == 'Theophrastus'].Obra.unique():
    print(i)

Characters
DeOdoribus
DeSignisTempestatum
EnquiryIntoPlants1
EnquiryIntoPlants2
EnquiryIntoPlants3
EnquiryIntoPlants4
EnquiryIntoPlants5
EnquiryIntoPlants6
EnquiryIntoPlants7
EnquiryIntoPlants8
EnquiryIntoPlants9
OnTheCausesOfPlants
DeSensuEtSensibilibus
DeLapidibus
OnFire
Metaphysics
DeVentis
DeLasitudine
DeVertigine
DeSudore
DeAnimiDefectione
DeNervorumResolutione

In [52]:
for i in df[df['Autor'] == 'Philostratus the Athenian'].Obra.unique():
    print(i)

Life of Apollonius of Tyana

In [53]:
for i in df[df['Autor'] == 'John, of Damascus (attributed author)'].Obra.unique():
    print(i)

Vita Barlaam et Joasaph

In [54]:
for i in df[df['Autor'] == 'Julian the Emperor'].Obra.unique():
    print(i)

Panegyric in Honor of the Emperor ConstantinusOration I
Hymn to the Mother of the GodsOration V
To the Uneducated CynicsOration VI

In [55]:
for i in df[df['Autor'] == 'Aeneas Tacticus'].Obra.unique():
    print(i)

Poliorcetica

In [56]:
for i in df[df['Autor'] == 'Lucian'].Obra.unique():
    print(i)

Bis accusatus sive tribunalia
Navigium
Hermotimus
De luctu
Hippias
Demonax
Toxaris vel amicitia
Cataplus
Pro lapsu inter salutandum
Somnum Sive Vita Luciani
De Parasito Sive Artem Esse Parassiticam
Philopseudes Sive Incredulus
Dearum Judicium
De Mercede Conductis Potentium Familiaribus
Menippus Sive Necyomantia
Rhetorum Praeceptor
Alexander
Imagines
De Syria Dea
De Morte Peregrini
Fugitivi
De Saltatione
Eunuchus
De Astrologia
Pseudologista
Deorum Concilium
Tyrannicida
Abdicatus
Prometheus
Icaromenippus
Timon
Charon Sive Contemplantes
Vitarum Auctio
Revivescentes Sive Piscator
De Sacrificiis
Adversus Indoctum Et Libros Multos Ementem
Phalaris
Bacchus
Hercules
Electrum
Muscae Encomium
Nigrinus
De Domo
Patriae Encomium
Macrobii
Verae Historiae
Calumniae Non Temere Credendum
Lis Consonantium
Convivium
Juppiter Confutatus
Juppiter Tragoedus
Gallus

In [57]:
for i in df[df['Autor'] == 'Apollodorus'].Obra.unique():
    print(i)

Library
Epitome

In [58]:
for i in df[df['Autor'] == 'Basil, Saint, Bishop of Caesarea'].Obra.unique():
    print(i)

De legendis gentilium libris
Epistulae

In [59]:
for i in df[df['Autor'] == 'Longus'].Obra.unique():
    print(i)

Daphnis &amp; Chloe

In [60]:
for i in df[df['Autor'] == 'Marcus Aurelius'].Obra.unique():
    print(i)

M. Antonius Imperator Ad Se Ipsum

In [61]:
for i in df[df['Autor'] == 'Isocrates'].Obra.unique():
    print(i)

To Demonicus
To Nicocles
Nicocles or the Cyprians
Panegyricus
To Philip
Archidamus
Areopagiticus
On the Peace
Evagoras
Helen
Busiris
Panathenaicus
Against the Sophists
Plataicus
Antidosis
On the team of horses
Trapeziticus
Against Callimachus
Aegineticus
Against Lochites
Against Euthynus
To Dyonisius
To The Children Of Jason
To Archidamus
To the Rulers of the Mytilenaeans
To Timotheus
To Alexander
To Antipater
Concerning the team of Horses

In [62]:
for i in df[df['Autor'] == 'Aeschines'].Obra.unique():
    print(i)

Against Timarchus
On the Embassy
Against Ctesiphon

In [63]:
for i in df[df['Autor'] == 'Appian'].Obra.unique():
    print(i)

Civil Wars
Kings
Italy
Samnite History
Gallic History
Sicily and the Other Islands
Wars in Spain
Hannibalic War
Punic Wars
Numidian Affairs
Macedonian Affairs
Illyrian Wars
Syrian Wars
Mithriadic Wars

In [64]:
for i in df[df['Autor'] == 'Aelian'].Obra.unique():
    print(i)

De Natura Animalium

In [65]:
for i in df[df['Autor'] == 'Athenaeus'].Obra.unique():
    print(i)

Deipnosophistae

In [66]:
for i in df[df['Autor'] == 'Strabo'].Obra.unique():
    print(i)

Geography

In [67]:
for i in df[df['Autor'] == 'Arrian'].Obra.unique():
    print(i)

Anabasis
Periplus Ponti Euxini
Tactica

In [68]:
for i in df[df['Autor'] == 'Eusebius of Caesarea'].Obra.unique():
    print(i)

Historia ecclesiastica
De Martyribus Palaestinae (Recensio Brevior)
De Ecclesiastica Theologia
De Theophania (Fragmenta)
Onomasticon
Vita Constantini1
Vita Constantini2
Vita Constantini3
Vita Constantini4
Oration of Constantine
De Laudibus Constantini

In [69]:
for i in df[df['Autor'] == 'Aristotle'].Obra.unique():
    print(i)

Rhetoric
Eudemian Ethics
AnaliticaPriora
AnaliticaPriora2
deAnima
Res publica atheniensium
deCaelo
Categoriae
deDivinationeperSomnus
deGenerationeetCorruptione
HistoriaAnimalum1
HistoriaAnimalum2
HistoriaAnimalum3
HistoriaAnimalum4
HistoriaAnimalum5
HistoriaAnimalum6
HistoriaAnimalum7
HistoriaAnimalum8
HistoriaAnimalum9
HistoriaAnimalum10
deAnimaliumIncessu
deInsomniis
deInterpretatione
De iuventute et senectute. De vita et morte
De longitudine et brevitate vitae
De animalium motione
MAgnaMoralia
DeMemoriaEtReminiscentia
Meteorologica
DePartibusAnimalium
Physica
ArsPoetica
DeRespiratione
deSophisticisElenchi
DeSomnoetVigilia
DeSensuEtSensibilus
DeSpiritu
Topica